.container {
    h2 {
        margin-top: 2em;

    }

    p, h2, li, h3 {
        margin-bottom: 0.5em;
    }

    .unit {
        display: grid;
        grid-template-columns: 20em 1fr;
        margin-bottom: 1em;
        grid-gap: 1em;

        & > img {
            aspect-ratio: 3/4;
            width: 100%;
            object-fit: contain;
            border-radius: 1em;
            border: 5px solid var(--color_a);
        }


        div {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 1em 0;
            position: relative;

            img {
                position: absolute;
                width: 100%;
                z-index: 0;
                opacity: 0.5;
            }
            *:not(img){
                z-index: 10;
            }
        }
    }
}

@media screen and (max-width: 60em) {
    .unit {
        grid-template-columns: 1fr !important;
    }
}